<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        {% block head %}
                <title>Gym Manager</title>
        {% endblock head %}
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>

        {% block content %}
        {% endblock content %}

    <script src="/scripts/scripts.js"></script>
    </body>
</html>